.brand__container {
  width: 100%;
  max-width: 1300px;
  padding: 30px 0px;
  overflow: hidden;
}

.brand__item img {
  height: 100%;
  width: 100%;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.brand__item:hover img {
  opacity: 0.6;
}
