.list__container {
  width: 100%;
  padding: 10px 16px;
  overflow: hidden;
}

.list__container .list__title,
.list__container .list__title > div:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.list__container .list__title {
  margin: 0 0 20px;
}

.list__container .list__title > p {
  cursor: default;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  font-size: 22px;
  font-weight: bold;
  color: #333333;
  margin: 4px 0 2px;
}

.list__container .list__title > div:last-child > svg {
  opacity: 0;
  font-size: 24px;
  color: #555555;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.list__container:hover .list__title > div:last-child > svg {
  opacity: 1;
}

.list__container:hover .list__title > div:last-child > svg:hover {
  color: #f76b6a;
}
