.overlay-sidebar {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  -webkit-transition: all 0.7s ease-in-out;
  -o-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
}

.overlay-sidebar--inactive {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.overlay-sidebar--active {
  opacity: 0.7;
  visibility: visible;
}
