:root {
  font-size: 11px;
  font-size: clamp(10px, calc(10px + 3 * (100vw - 850px) / 450), 13px);
}

@media screen and (max-width: 850px) {
  :root {
    font-size: clamp(10px, calc(10px + 4 * (100vw - 300px) / 550), 14px);
  }
}
